// 共通css
@charset "UTF-8";

html {
    font-size: 62.5%;
    margin: 0 auto;
}

body {
    font-size: 1.8rem;
    font-family: "Cormorant Garamond", serif;
    color: #000000;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0;
}

header {
    height: 100vh;
    margin-bottom: 200px;
}

footer {
    height: 200px;
}

img {
    width: 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #635a58;
}

a:hover {
    opacity: 0.7;
}

li {
    list-style: none;
}
